{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "parser": "babel",
  "bracketSpacing": true,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "strict"
}
